<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head th:replace="common/head :: head_fragment(title = '講師割当アプリケーション [訓練一覧]', scripts = ~{::script}, links = ~{::link})"></head>

<body>
<div class="container">
    <br>
    <h2>訓練一覧</h2>
    <div class="float-end">
        <a th:href="@{/training/add}" class="btn btn-primary">新規登録</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>種別</th>
            <th>訓練名</th>
            <th>訓練期間</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="training : ${traininglist}"  th:object="${training}">
            <td th:text="*{id}" hidden></td>
            <!--/* <td th:text="*{trainingname}"></td> */-->
            <!--/* 委託元が設定されている場合は名称を表示 */-->
            <!--/* <td th:text="*{consignor_id != 0 || not #strings.isEmpty(consignor)}? *{consignor.name2} : ''"></td> */-->
            <td th:text="*{not #strings.isEmpty(consignorname)}? *{consignorname} : ''"></td>
            <td>
                <a th:href="@{/training/timetable/{id}(id=*{id})}" th:text="*{trainingname}"></a>
                <!--/* 講師未割当件数が0より大きい場合表示 */-->
                <th:block th:if="*{unassignedcount > 0}">
                    <span class="badge bg-danger">講師未割当</span>
                </th:block>
            </td>
            <td th:text="*{#temporals.format(start_date, 'yyyy/MM/dd(eee)')} + ' ～ ' + *{#temporals.format(end_date, 'yyyy/MM/dd(eee)')}"></td>
            <td>
                <!--/* <a th:href="@{/training/timetable/{id}(id=*{id})}" class="btn btn-outline-secondary btn-sm">スケジュール</a> */-->
                <a th:href="@{/training/update/{id}(id=*{id})}" class="btn btn-outline-primary btn-sm">編集</a>
                <!--/* 訓練開始日以降の場合削除ボタン非表示 */-->
                <th:block th:if="*{start_date} > ${nowDate}">
                    <a th:href="@{/training/delete/{id}(id=*{id})}" class="btn btn-outline-secondary btn-sm" th:onclick="|return confirm_delete('__*{trainingname}__')|">削除</a>
                </th:block>
            </td>
        </tbody>
    </table>
</div>
<br>
<br>
<!-- Navbar -->
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <a th:href="@{/teacher/list}" class="btn btn-sm btn btn-outline-light me-2">講師一覧へ</a>
    <a th:href="@{/consignor/list}" class="btn btn-sm btn btn-outline-light">種別一覧へ</a>
</nav>
<script>
    <!--/* 削除確認メッセージ */-->
	function confirm_delete(data) {
		return window.confirm(data + "を削除しますか？")
    };
</script>
</body>
</html>